:root {
	--max-content-width: 70em;
	--vis-color-blue: #07508E;
	--vis-color-yellow: #FFAF12;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: underline;
	color: inherit;
}

header {
	padding: 3em 2em;

	color: #fff;
	text-shadow: 1px 1px 2px hsla(0, 0%, 0%, .3);

	background: var(--vis-color-blue)9; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #134099 0%, #207cca 66%, #378ed6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #134099 0%,#207cca 66%,#378ed6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #134099 0%,#207cca 66%,#378ed6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#134099', endColorstr='#378ed6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.sub-heading,
.intro {
	padding: 0 2em;
	box-sizing: border-box;
}

.sub-heading {
	max-width: var(--max-content-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.logo {
	display: flex;
	align-items: center;
}

.logo a {
	line-height: 0;
}

.logo img {
	margin-right: 10px;
	height: 44px;
	width: auto;
}

.title {
	font-size: 1.7em;
	font-weight: 600;
	margin: 0;
}
.community-edition {
	font-size: .9em;
}

.community-edition a {
	text-decoration: none;
	color: yellow;
}

#nav {
	margin: 0;
	list-style: none;
	letter-spacing: .2px;
	display: flex;
}

#nav a {
	text-decoration: none;
}

#nav li {
	margin: 0 .5em;
}

.intro {
	max-width: var(--max-content-width);
	margin: 0 auto;
	line-height: 1.4;
	margin-top: 1em;
}

.intro strong {
	font-size: 1.7em;
	line-height: 1.3;
	letter-spacing: .5px;
}

.intro p {
	max-width: 800px;
	font-size: 1.1em;
	line-height: 1.5;
	margin: .5em 0 0;
}

main {
	width: 100%;
	max-width: var(--max-content-width);
	margin-left: auto;
	margin-right: auto;
}

main > .title {
	display: none;
}

main h2 {
	color: darkgray;
}

main article {
	clear: both;
	border-top: 1px solid lightgray;
}

.oc-loading-container {
	margin-top: 1.5em;
}

#supporters h2,
#sponsors h2 {
	margin: 1em 0;
	text-align: center;
}

#supporters section img {
	border: none;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	object-fit: contain;
	object-position: bottom;
	min-height: 14em;
}

.feature {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

section {
	display: block;
	text-align: center;
	box-sizing: border-box;
	margin: 0 0 2em 0;
	padding: 2em 2em;
}

section .title {
	margin: 0.5em 0;
	font-size: 2em;
	font-weight: normal;
	color: gray;
}

section img {
	border: 1px solid lightgray;
}

section p {
	min-height: 4em;
	line-height: 1.4;
}
.links {
	font-size: 14px;
	margin-top: 0;
}
.links a {
	margin: 0.5em;
}

.button {
	display: inline-block;
	padding: 0.5em 1em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid lightgray;
	border-radius: 4px;
	text-decoration: none;
	color: inherit;
}

.button:hover {
	background-color: #ccc;
}

.button.blue {
	color: #fff;
	background-color: var(--vis-color-blue);
	border-color: #2e6da4;
}

.button.blue:hover {
	background-color: #2e6da4;
}

.button.github .btn-text {
	display: none;
}
.button.github:after {
	content: '';
	display: block;
	background: url(./images/github-logo.svg);
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
}

.button.npm .btn-text {
	display: none;
}
.button.npm:after {
	content: '';
	display: block;
	background: url(./images/npm-logo.svg);
	width: 50px;
	height: 20px;
	background-size: 50px;
	background-repeat: no-repeat;
}

footer {
	display: flex;
	padding: 1em;
	justify-content: space-between;
	max-width: var(--max-content-width);
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid lightgray;
}

.contribute {
	margin-right: 10px;
}

/* Carbon Ads */

#carbonads {
	display: flex;
	margin: 0 auto;
	max-width: 320px;
	min-height: 142px;
	background-color: hsl(0, 0%, 98%);
	box-shadow: 0 0 0 1px #d3d3d3;

	align-items: center;
}

#carbonads a {
	color: inherit;
	text-decoration: none;
}

#carbonads a:hover {
	color: inherit;
}

#carbonads span {
	position: relative;
	display: block;
	overflow: hidden;
}

#carbonads .carbon-wrap {
	display: flex;
}

.carbon-img {
	display: block;
	margin: 0;
	line-height: 1;
}

.carbon-img img {
	display: block;
	max-width: none !important;
	width: auto !important;
	height: 117px !important;
	border: 0;
}

.carbon-text {
	padding: 10px;
	text-align: left;
	font-size: 14px;
	line-height: 1.35;
	letter-spacing: .2px;
}

.carbon-poweredby {
	display: block;
	padding: 8px 10px;
	background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: 600;
	font-size: 9px;
	line-height: 1;
}


@media only screen and (min-width: 760px) and (max-width: 960px) {
	.feature {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
	.sub-heading,
	.intro {
		padding: 0;
	}
	.sub-heading { flex-direction: column; }
	#nav {
		font-size: .8em;
		 padding-inline-start: 0;
		margin-top: 1.5em;
	}
	.feature {
		grid-template-columns: repeat(1, 1fr);
		padding: .5em 0;
	}
}
