html, body {
	margin: 0em;
	padding: 0em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

a {
	text-decoration: underline;
	color: inherit;
}

.content {
	width: 100%;
	max-width: 70em;
	margin: 0px auto;
	padding: 0px;
}

header {
	padding: 1em;

	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);

	background: #07508E; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #134099 0%, #207cca 66%, #378ed6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #134099 0%,#207cca 66%,#378ed6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #134099 0%,#207cca 66%,#378ed6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#134099', endColorstr='#378ed6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header #title {
	font-size: 4em;
	font-weight: normal;
}

header h1 sub {
	display: block;
	font-size: large;
	margin-top: -0.5em;
	margin-left: 1em;
}

header h1 sub .community-edition {
	text-decoration: none;
	color: yellow;
	font-size: x-large;
}

article > .title {
	display: none;
}

article h2 {
	color: darkgray;
}

article {
	border-top: 1px solid lightgray;
}

.oc-loading-container {
	margin-top: 1.5em;
}

#supporters section img {
	border: none;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	object-fit: contain;
	object-position: bottom;
	min-height: 14em;
}

.content.libs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

section {
	display: inline-block;
	max-width: 23em;
	width: 100%;
	box-sizing: border-box;
	margin: 0em 0em 2em 0em;
	padding: 2em;
}

@media only screen and (max-width: 735px) {
	section {
		max-width: 100%;
	}
}

section .title {
	margin: 0.5em 0em;
	font-size: 2em;
	font-weight: normal;
	color: gray;
}

section img.main-figure {
	border: 1px solid lightgray;
	width: 100%;
	max-width: 240px; /* This is the width of the image files. */
}

section p {
	min-height: 4em;
}

section .links > .link {
	display: inline-block;
	margin: 0.5em;
}

.button {
	display: inline-block;
	padding: 0.5em 1em;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid lightgray;
	border-radius: 4px;
	text-decoration: none;
	color: inherit;
}

.button:hover {
	background-color: #ccc;
}

.button.examples:after {
	content: 'View examples';
	display: block;
}

.button.docs:after {
	content: 'View docs';
	display: block;
}

.button.docs {
	color: #fff;
	background-color: #07508E;
	border-color: #2e6da4;
}

.button.docs:hover {
	background-color: #2e6da4;
}

.button.github:after {
	content: '';
	display: block;
	background: url(./images/github-logo.svg);
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
}

.button.npm:after {
	content: '';
	display: block;
	background: url(./images/npm-logo.svg);
	width: 50px;
	height: 20px;
	background-size: 50px;
	background-repeat: no-repeat;
}

.button.unpkg:after {
	content: 'unpkg';
	display: block;
}

.opencollective-banner {
	/*
	 * This prevents the iframe from messing up the layout. The problem is that
	 * the iframe has fixed width set by the JS that inserts it.
	 */
	overflow-x: auto;
}

#footer {
	padding: 1em;
	text-align: left;
}

#footer .license {
	float: right;
	margin-left: 1em; /* Prevents the footer text from touching the image. */
}

/* Carbon Ads */

#carbonads {
  display: flex;
  margin: 0 auto;
  max-width: 320px;
  height: 142px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 0 1px #d3d3d3;

  align-items: center;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
  max-width: none !important;
  width: auto !important;
  height: 117px !important;
  border: 0;
}

.carbon-text {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: .2px;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}

.deprecated h1 {
  margin: 10% 0;
  padding: 0;
}
.deprecated ul {
  list-style: none;
}
.deprecated ul li {
  margin: .5rem 0;
}
.deprecated footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
}
