:root {
	--max-content-width: 70em;
	--vis-color-blue: #07508E;
	--vis-color-yellow: #FFAF12;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: underline;
	color: inherit;
}

header {
	padding: 1em;
	text-align: center;

	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);

	background: var(--vis-color-blue)9; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #134099 0%, #207cca 66%, #378ed6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #134099 0%,#207cca 66%,#378ed6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #134099 0%,#207cca 66%,#378ed6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#134099', endColorstr='#378ed6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header #title {
	font-size: 4em;
	font-weight: normal;
}

header h1 sub {
	display: block;
	font-size: large;
	margin-top: -0.5em;
	margin-left: 1em;
}

header h1 sub .community-edition {
	text-decoration: none;
	color: yellow;
	font-size: x-large;
}

main {
	width: 100%;
	max-width: 84em;
	margin-left: auto;
	margin-right: auto;
}

main > .title {
	display: none;
}

main h2 {
	color: darkgray;
}

main article {
	clear: both;
	border-top: 1px solid lightgray;
}

.oc-loading-container {
	margin-top: 1.5em;
}

#supporters section img {
	border: none;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	object-fit: contain;
	object-position: bottom;
	min-height: 14em;
}

section {
	display: block;
	float: left;
	text-align: center;
	max-width: 28em;
	box-sizing: border-box;
	margin: 0 0 2em 0;
	padding: 2em 2em;
}

section .title {
	margin: 0.5em 0;
	font-size: 2em;
	font-weight: normal;
	color: gray;
}

section img {
	border: 1px solid lightgray;
}

section p {
	min-height: 4em;
}

section ul.links {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	-moz-flex-direction:row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-moz-flex-wrap:wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-moz-justify-content:center;
	justify-content: center;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	-moz-align-content:center;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	-moz-flex-align:start;
	align-items: flex-start;
}
section ul.links > li {
	list-style: none;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	margin: 0.4em;
}

.button {
	display: inline-block;
	padding: 0.5em 1em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid lightgray;
	border-radius: 4px;
	text-decoration: none;
	color: inherit;
}

.button:hover {
	background-color: #ccc;
}

.button.blue {
	color: #fff;
	background-color: var(--vis-color-blue);
	border-color: #2e6da4;
}

.button.blue:hover {
	background-color: #2e6da4;
}

.button.github .btn-text {
	display: none;
}
.button.github:after {
	content: '';
	display: block;
	background: url(./images/github-logo.svg);
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
}

.button.npm .btn-text {
	display: none;
}
.button.npm:after {
	content: '';
	display: block;
	background: url(./images/npm-logo.svg);
	width: 50px;
	height: 20px;
	background-size: 50px;
	background-repeat: no-repeat;
}

footer {
	display: block;
	padding: 1em;
	max-width: var(--max-content-width);
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid lightgray;
}

footer .license {
	float: right;
}

footer br{
	display: none;
}

h2{
	text-align: center;
}

@media only screen and (max-width: 84em){
	main{	
		width: 100%;
		max-width: 57em;
	}

	footer br{
		display: visible;
	}

	footer .license{
		display: block;
		float: none;
		margin-top: .5rem;
		margin-left: 40%;
	}

}

@media only screen and (max-width: 56em) {
	main{
		width: 100%;
		max-width: 27em;
	}

	footer br{
		display: visible;
	}

	footer .license{
		display: block;
		float: none;
		margin-top: .5rem;
		margin-left: 40%;
	}

	section ul.links > li {
		font-size: 0.95em;
	}

	.button{
		padding: 0.4em 0.8em;
	}

/* Carbon Ads */

#carbonads {
  display: flex;
  margin: 0 auto;
  max-width: 320px;
  height: 142px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 0 1px #d3d3d3;

  align-items: center;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
  max-width: none !important;
  width: auto !important;
  height: 117px !important;
  border: 0;
}

.carbon-text {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: .2px;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}
