:root {
	--max-content-width: 70em;
	--vis-color-blue: #07508E;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: underline;
	color: inherit;
}

header {
	padding: 1em;
	text-align: center;
	
	background-color: var(--vis-color-blue);
	color: white;
}

header #title {
	font-size: 4em;
	font-weight: normal;
}

main {
	width: 100%;
	max-width: var(--max-content-width);
	margin-left: auto;
	margin-right: auto;
}

main > .title {
	display: none;
}

main article {
	clear: both;
	border-top: 1px solid lightgray;
}

.oc-loading-container {
	margin-top: 1.5em;
}

section {
	display: block;
	float: left;
	text-align: center;
	max-width: calc(var(--max-content-width)/3);
	box-sizing: border-box;
	margin: 0 0 2em 0;
	padding: 2em 2em;
}

section .title {
	margin: 0.5em 0;
	font-size: 2em;
	font-weight: normal;
	color: gray;
}

section img {
	border: 1px solid lightgray;
}

section p {
	min-height: 4em;
}

.button {
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid lightgray;
	border-radius: 4px;
	text-decoration: none;
	color: inherit;
}

.button:hover {
	background-color: #ccc;
}

.button.blue {
	color: #fff;
	background-color: var(--vis-color-blue);
	border-color: #2e6da4;
}

.button.blue:hover {
	background-color: #2e6da4;
}

footer {
	display: block;
	padding: 1em;
	max-width: var(--max-content-width);
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid lightgray;
}

footer .license {
	float: right;
}